{{ partial "head.html" . }}

<body>

  {{ partial "header.html" . }}

  <div class="page-content">
    <div class="wrap">

      <div class="post">

        <header class="post-header">
          <h1>{{ .Title }}</h1>
          <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
        </header>

        <article class="post-content">
          {{ .Content }}
        </article>

        <footer>
          <p class="meta footer-nav">

            {{ if .Next }}
            <a class="basic-alignment left" href="{{.Next.Permalink}}" title="Previous Post: {{.Next.Title}}">&laquo; {{.Next.Title}}</a> {{ end }} {{ if .Prev }}
            <a class="basic-alignment right" href="{{.Prev.Permalink}}" title="Next Post: {{.Prev.Title}}">{{.Prev.Title}} &raquo;</a> {{ end }}

          </p>
        </footer>

      </div>

    </div>
  </div>

  {{ partial "footer.html" . }}

</body>

</html>
