<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{{ template "theme/chrome/head.html" . }}
<body>

{{ template "theme/chrome/header.html" . }}
test
    <div class="content container">
  <ul class="posts">
      {{ range where .Data.Pages "Section" "post"}}
      <li><span><a href="{{ .Permalink }}">{{ .Title }}</a><time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</h4></time></span></span></li>
      {{ end }}
  </ul>
    </div>

  </body>
</html>
